$standard_color : green;

body * {
	/*background-color: $standard_color;*/
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid;
	}
header img {
	max-width: 200px;
	width: 80%;
	align-conten: center;

}

